

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="./public/css/style.css">
    </head>
    <body>
        <%- include('partials/header') -%>



<section>
    <h1 class="yes">Logistics in one place</h1>

</section>


<section> 
    <p>With lists for your freezer, fridge and pantry, you can easily check what food you have left, see what food you need to use first, create a shopping list, plan your meals, avoid unnecessary purchases, reduce food waste and save a bunch of money.

    </p>
</section>

    </body>


</html>


